<section class="vehicle" id="vehicle">
  <div class="vehicle-container">
    <h2>Pięć klas <span>pojazdów</span></h2>
    <div class="vehicle-content">
      <div class="vegicle-img">
        <img src="assets/tiger.png" alt="">
      </div>
      <div class="menu">
        <div class="menu-box">
          <img src="assets/li.png" alt=""/>
          <p><span>Czołgi lekkie. </span>Zwrotne pojazdy o kompaktowych wymiarach, dobrym maskowaniu i zasięgu widzenia, ale z kiepskim opancerzeniem i siłą ognia.</p>
        </div>
        <div class="menu-box">
          <img src="assets/me.png" alt=""/>
          <p><span>Czołgi średnie. </span> Wszechstronne jednostki, dość zwrotne, ze znaczną siłą ognia i opancerzeniem, a często również o dobrym zasięgu widzenia.</p>
        </div>
        <div class="menu-box">
          <img src="assets/he.png" alt=""/>
          <p><span>Czołgi ciężkie. </span>Pojazdy o niskiej zwrotności, ale z porządnym pancerzem i potężnym działem. Ten rodzaj pojazdów jest trwały i potrafi zadać znaczące uszkodzenia.</p>
        </div>
        <div class="menu-box">
          <img src="assets/tdd.png" alt=""/>
          <p><span>Niszczyciele czołgów. </span>Zasadniczo są to słabo opancerzone pojazdy z bardzo celnym działem o dużym zasięgu. Charakteryzuje je dobre maskowanie i możliwość prowadzenia efektywnego ostrzału z ukrycia.</p>
        </div>
        <div class="menu-box">
          <img src="assets/ar.png" alt=""/>
          <p><span>Artylerie. </span>Wolne i kiepsko opancerzone działa szturmowe z pociskami odłamkowo-burzącymi strzelające na duże odległości mogą ogłuszyć lub zadać uszkodzenia kilku pojazdom jednocześnie.</p>
        </div>
      </div>
    </div>
  </div>
</section>

