<section class="about" id="about">
  <div class="about-conteiner">
    <h2>Wiele <span>trybów gry</span></h2>
    <div class="about-content">
      <div class="box">
        <h3>Dla samotników</h3>
        <i><img src="assets/bitwy%20losowe.png" alt=""></i>
        <p>BITWY LOSOWE</p>
        <a href="#" class="button">Czytaj więcej</a>
      </div>
      <div class="box">
        <h3>Tryby sezonowe</h3>
        <i><img src="assets/liniafrontu.png" alt=""></i>
        <p>LINIA FRONTU</p>
        <a href="#" class="button">Czytaj więcej</a>
      </div>

      <div class="box">
        <h3>Współzawodnictwo</h3>
        <i><img src="assets/turnieje.png" alt=""></i>
        <p>TURNIEJE</p>
        <a href="#" class="button">Czytaj więcej</a>
      </div>
      <div class="box">
        <h3>Dla graczy klanowych</h3>
        <i><img src="assets/twierdze.png" alt=""></i>
        <p>TWIERDZE</p>
        <a href="#" class="button">Czytaj więcej</a>
      </div>
    </div>
  </div>
</section>

