<section class="screen" id="screen">
  <div class="screen-content">
     <h2><span>Zrzuty ekranu</span> z gry</h2>
     <div class="screens">
       <div class="screen-box">
         <img src="assets/1.jpg" alt=""/>
       </div>
       <div class="screen-box">
         <img src="assets/2.jpg" alt=""/>
       </div>
       <div class="screen-box">
         <img src="assets/3.jpg" alt=""/>
       </div>
       <div class="screen-box">
         <img src="assets/4.jpg" alt=""/>
       </div>
       <div class="screen-box">
         <img src="assets/5.jpg" alt=""/>
       </div>
       <div class="screen-box">
         <img src="assets/6.jpg" alt=""/>
       </div>
     </div>
  </div>
</section>

