<section class="requirement" id="requirement">
  <div class="requirement-container">
    <h2><span>Wymagania</span> systemowe</h2>
      <div class="requirement-content">
        <div class="requirement-table">
          <table>
              <tr class="tab-header">
                <td>Typ</td>
                <td>Minimalne</td>
                <td class="recomend">Zalecane</td>
              </tr>
              <tr>
                <td>System operacyjny</td>
                <td>Windows 7/8/10 - 64 bit</td>
                <td class="recomend">Windows 7/8/10 - 64 bit</td>
              </tr>
              <tr>
                <td>Procesor (CPU)</td>
                <td>wyposażony w dwa fizyczne rdzenie i <br/> wspierający technologię SSE2</td>
                <td class="recomend">Intel Core i5 (stacjonarny)</td>
              </tr>
            <tr>
                <td>Pamięć operacyjna (RAM)</td>
                <td>3 GB</td>
                <td class="recomend">6 GB (lub więcej)</td>
              </tr>
            <tr>
                <td>Karta graficzna (GPU)</td>
                <td>NVIDIA GeForce 8600, ATI Radeon HD 4550	</td>
                <td class="recomend">GeForce GTX660 (2 GB) / Radeon HD 7850 (2 GB)</td>
              </tr>
            <tr>
                <td>Wolne miejsce na dysku</td>
                <td>około 70 GB wolnego miejsca</td>
                <td class="recomend">>70 GB wolnego miejsca</td>
              </tr>
            <tr>
                <td>Połączenie z Internetem</td>
                <td>256 Kbps</td>
                <td class="recomend">przynajmniej 1024 kbps (do chatów głosowych)</td>
              </tr>
          </table>

          <table class="recomend-only">
            <tr class="tab-header">
              <td>Typ</td>
              <td>Zalecane</td>
            </tr>
            <tr>
              <td>System operacyjny</td>
              <td>Windows 7/8/10 - 64 bit</td>
            </tr>
            <tr>
              <td>Procesor (CPU)</td>
              <td>Intel Core i5 (stacjonarny)</td>
            </tr>
            <tr>
              <td>Pamięć operacyjna (RAM)</td>
              <td>6 GB (lub więcej)</td>
            </tr>
            <tr>
              <td>Karta graficzna (GPU)</td>
              <td>GeForce GTX660 (2 GB) / Radeon HD 7850 (2 GB)</td>
            </tr>
            <tr>
              <td>Wolne miejsce na dysku</td>
              <td>>70 GB wolnego miejsca</td>
            </tr>
            <tr>
              <td>Połączenie z Internetem</td>
              <td>przynajmniej 1024 kbps (do chatów głosowych)</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</section>

