section{
  min-height: 100vh;
  padding: 10rem 8% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.home-content h3{
  font-weight: 700;
  font-size: 2.6rem;
}

.home-content h3 span{
  color: #f2ec3c;
}

.home-content h1{
  font-weight: 900;
  font-size: 5rem;
}

.home-content p{
  padding-top: 2rem;
  font-weight: 500;
  font-size: 2.3rem;
}

.home-image img{
  width: 22vw;
  max-width: 420px;
}

.home-image{
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  animation: floatImage 4s ease-in-out infinite;
}

.social a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background:transparent;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
}

.home-content i{
  font-size: 2.2rem;
}

.home-content .facebook{
  color: #4267B2;
  border: .2rem solid #4267B2;
}

.home-container .facebook:hover{
  color: #4267B2;
  box-shadow: 0 0 1rem #4267B2;
}

.home-container .twitter{
  color: #00acee;
  border: .2rem solid #4267B2;
}
.home-container .twitter:hover{
  color: #00acee;
  box-shadow: 0 0 1rem #00acee;
}

.home-container .instagram{
  color: #E1306C;
  border: .2rem solid #E1306C;
}

.home-container .instagram:hover{
  color:  #E1306C;
  box-shadow: 0 0 1rem #E1306C;
}

.home-container .youtube{
  color: #FF0000;
  border: .2rem solid #FF0000;
}

.home-container .youtube:hover{
  color:  #FF0000;
  box-shadow: 0 0 1rem #FF0000;
}

.button{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #f2ec3c;
  border-radius: 3rem;
  box-shadow: 0 0 1rem #f2ec3c;
  font-size: 2rem;
  font-weight: 600;
  color: #0d1113;
}

.button:hover{
  box-shadow: 0 0 5rem #f2ec3c;
}

.animation-appear{
  animation: appear 1s ease-in-out;
}

@keyframes floatImage {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2.4rem);
  }
  0%{
    transform: translateY(0);
  }
}

@keyframes appear {
  from{
    opacity: 0;
  }to{
     opacity: 1;
   }
}

@media(max-width: 1100px) {
  section{
    min-height: 100vh;
    padding: 10rem 5% 5rem;
  }
}

@media(max-width: 900px) {
  .home-container{
    flex-direction: column;
    text-align: center;
  }

  .home-image{
    padding-right: 0rem;
    padding-bottom: 2rem;
  }
  .home-image img{
    width: 250px;
  }
}

@media (max-width: 400px){
  .home-image img{
    width: 200px;
  }
}
