
<section class="home" id="home">
  <div class="home-container animation-appear">
    <div class="home-image">
      <img src="assets/pngwing.com.png">
    </div>
    <div class="home-content">
        <h1>World of Tanks</h1>
        <h3>Gra akcji <span>online</span></h3>
        <p>Obejmij dowództwo nad pojazdami z okresu II Wojny Światowej i
          połowy XX wieku, spróbuj swoich sił z graczami z całego świata.</p>
        <div class="social">
          <a href="https://www.facebook.com" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/?lang=pl"  class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <a href="#" class="button">Stwórz konto</a>
    </div>
  </div>
</section>
